@font-face {
  font-family: 'Gondens';
  src: url('/fonts/gondens.woff2') format('woff2'),
       url('/fonts/gondens.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
